name: CI

on:
  push:
    branches:
      - main
      - release
  pull_request:

jobs:
  docs:
    uses: ./.github/workflows/docs.yml
    with:
      publish: false
      linkcheck: ${{ github.ref == 'refs/heads/main' }}
      branch: ${{ github.head_ref == '' && github.ref_name || github.head_ref }}
    secrets: inherit
